APP_HOST=
APP_PORT=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSLMODE=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_TLS_ENABLED=

MONGODB_URI=
MONGODB_DATABASE=

LOG_LEVEL=
JWT_SECRET_KEY=

PRODUCT_SERVICE_ADDR=

USER_SERVICE_ADDR=
PRODUCT_SERVICE_HTTP_ADDR=
ORDER_SERVICE_ADDR=